body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    line-height: 1.2;
    font-size: 1rem;
}

.header {
    padding: 20px;
    border-bottom: 1px solid #ddd;

    text-align: center;

    background-color: burlywood;
}

.header__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;

    margin-bottom: 10px;
}

.header__logo-link {
    display: flex;
    align-items: center;

    grid-column: span 3;

    text-decoration: none;

    color: inherit;
}

.header__logo {
    width: 100px;
    height: 100px;
}

.header__title {
    grid-column: 5 / 9;

    margin: 0;

    font-size: 24px;
    text-align: center;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;

    gap: 40px;
}

.header__nav-link {
    text-decoration: none;

    font-size: 18px;

    color: black;
}

.header__nav-link:hover {
    text-decoration: underline;
}

.hamburger-btn {
    display: none;

    position: absolute;
    right: 20px;
    top: 20px;

    background: none;
    border: none;

    font-size: 24px;
}

main {
    background-color: papayawhip;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    grid-column: span 4;
    width: 90%;
    height: 350px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    background-color: #eee;
}

.card__image {
    width: 200px;
    height: 200px;

    margin-bottom: 10px;
    border-radius: 8px;

    flex-shrink: 0;
}

.card__name,
.card__description {
    font-size: 1rem;
}

.card__description {
    padding: 10px;

    text-align: center;
}

.card__subscribe-btn {
    outline: none;

    border: none;

    font-size: 1rem;

    color: blue;
    text-decoration: underline;
}

.modal {
    width: 350px;
    padding: 20px;

    border-radius: 10px;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);

    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 15px;
}

.required-hint {
    font-size: 14px;

    color: black;
}

.form-content {
    display: flex;
    flex-direction: column;

    text-align: left;
}

.form-content span {
    font-weight: bold;

    margin-bottom: 5px;

    font-size: 1.2rem;
}

#email,
#confirm-email {
    padding: 8px;

    border-radius: 5px;

    font-size: 16px;
}

.error-message {
    color: red;

    margin-top: 5px;
}

.modal-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 10px;
    justify-content: space-between;
}

.subscribe-button {
    padding: 10px;
    width: 45%;

    border-radius: 5px;

    font-size: 1.2rem;

    color: black;
}

.submit {
    background-color: lime;
}

.cancel {
    background-color: lightcoral;
}

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    gap: 10px;
    padding: 20px;

    text-align: center;

    background-color: burlywood;
}

footer a {
    grid-column: span 3;

    padding: 10px;

    transition: background-color 0.3s ease;
}

footer a:hover {
    background-color: #eee;
}

@media (max-width: 44rem) {
    .hamburger-btn {
        display: block;

        position: absolute;
        right: 20px;
        top: 20px;

        background: none;
        border: none;

        font-size: 36px;

        z-index: 100;
    }

    .hamburger-btn span {
        display: block;

        width: 25px;
        height: 3px;

        margin: 5px 0;

        background-color: #333;
    }

    .header__nav {
        display: none;

        position: absolute;
        top: 60px;
        right: 20px;

        width: auto;
        padding: 10px 20px;

        background: burlywood;

        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .header__nav.active {
        display: flex;
        flex-direction: column;

        gap: 10px;
    }

    .card {
        grid-column: span 12;
    }

    .card-container {
        width: 90%;
    }

    footer a {
        grid-column: span 12;
    }
}